<div class="content__article-body from-content-api js-article__body" itemprop="articleBody" data-test-id="article-review-body">
                            <p> Voters cast their ballots in the first round of the French presidential election on 23 April, with candidates ranging from far right to hard left vying to reach a second round run-off and, from there, the Elysée Palace.</p> 
<p>The policies of the top five contenders – <a href="/world/francois-fillon" data-link-name="auto-linked-tag" data-component="auto-linked-tag" class="u-underline">François Fillon</a>, Marine Le Pen, Benoît Hamon, Emmanuel Macron and Jean-Luc Mélenchon - on state spending, immigration, the environment and the economy reveal their different positions.</p> 
<figure class="element element-interactive interactive element--showcase" data-interactive="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-canonical-url="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-alt="Francois Fillon">


       <div class="gv-card-wrapper" id="card-FrancoisFillon">
            <a name="anchor-FrancoisFillon"></a>

            <div class="gv-card-col-main">

            <div class="gv-card-item gv-card-head">
                
                <div class="gv-profile-pic gv-FrancoisFillon"></div>  
                <div class="gv-card-head-div">
                    <h3 class="gv-header">François Fillon</h3>
                <h3 class="gv-header-sub neutral-3">Les Républicains</h3>
                <p class="gv-header-copy" id="shortCopy">Socially conservative, former prime minister previously seen as favourite after a resounding win in the right's primary. He has been hit by a judicial investigation into allegations of paying his family from public funds.</p>
                
                </div>      
            </div>  


            </div>  

    </div>



</figure> 
<h2>Labour and welfare</h2> 
<p>Scrap France’s 35-hour week and allow companies to negotiate staff working hours. Boost businesses by reducing corporate taxes by €40bn (£35bn). Raise the retirement age from 62 to 65. Put a progressive cap on unemployment benefits. Reform the labour code to allow more flexibility for businesses. Reduce social charges on the lowest salaries.</p> 
<h2>The state, finances and society</h2> 
<p>Reduce public spending by €100bn in five years. Cut 500,000 public sector jobs, or 8% of the public sector workforce. Increase public sector working hours from 35 to 39 hours a week in areas such as health and state administration. Reform social security coverage and health system payments. Streamline benefits by introducing a single payment. Cut benefits to families if a child skips school or commits anti-social behaviour. </p> 
<p>Bring back school uniform. Rewrite school history teaching to give more sense of the glorious moments of French history. Maintain the ban on medically assisted procreation such as IVF and the use of sperm donors for single women and women in same-sex relationships. Limit parental rights for same-sex couples.</p> 
<figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="element element-image img--landscape  fig--narrow-caption fig--has-shares " data-media-id="862021349628520afa71990750eca264efbc582f" id="img-1"> 
 <meta itemprop="url" content="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/4500.jpg?w=700&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=a3cc4cbcb5d5ade3602c024e4b7e51dc"> 
 <meta itemprop="width" content="4500"> 
 <meta itemprop="height" content="2699"> 
 <a href="#img-1" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax=""> 
  <div class="u-responsive-ratio" style="padding-bottom: 59.98%"> 
   <picture> 
    <!--[if IE 9]><video style="display: none;"><![endif]--> 
    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=620&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=18713038fea1f50bb95cab17d6262f00 1240w"> 
    <source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=620&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=a428af2bda89120671c157b08bffa603 620w"> 
    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=605&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=7c0d34831a2ee5f923c6bca829d7b0f8 1210w"> 
    <source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=605&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=ed8529c41cc8c63b1b065890dfb408c2 605w"> 
    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=445&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=739209f9e07a2d636b13a6df63dc0101 890w"> 
    <source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=445&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=4456704358371f314056069124a81a9a 445w"> 
    <!--[if IE 9]></video><![endif]--> 
    <img class="gu-image" itemprop="contentUrl" alt="Francois Fillon" src="https://i.guim.co.uk/img/media/862021349628520afa71990750eca264efbc582f/0_0_4500_2699/master/4500.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=7d303ae557ac5d9db4aaf68832b3bed2"> 
   </picture> 
  </div> <span class="inline-expand-image inline-icon centered-icon rounded-icon article__fullscreen modern-visible"> 
   <svg width="22" height="22" viewBox="0 0 22 22" class="centered-icon__svg rounded-icon__svg article__fullscreen__svg modern-visible__svg inline-expand-image__svg inline-icon__svg"> 
    <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6"></path> 
   </svg> </span> </a> 
 <div class="block-share block-share--article  hide-on-mobile " data-link-name="block share"> 
  <a class="rounded-icon block-share__item block-share__item--facebook js-blockshare-link" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_fb%26page%3Dwith%3Aimg-1%23img-1&amp;picture=https%3A%2F%2Fmedia.guim.co.uk%2F862021349628520afa71990750eca264efbc582f%2F0_0_4500_2699%2F4500.jpg" target="_blank" data-link-name="social facebook"> <span class="inline-share-facebook inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-facebook__svg inline-icon__svg"> 
     <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path> 
    </svg> </span> <span class="u-h">Facebook</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--twitter js-blockshare-link" href="https://twitter.com/intent/tweet?text=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_tw%26page%3Dwith%3Aimg-1%23img-1" target="_blank" data-link-name="social twitter"> <span class="inline-share-twitter inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-twitter__svg inline-icon__svg"> 
     <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path> 
    </svg> </span> <span class="u-h">Twitter</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--pinterest js-blockshare-link" href="http://www.pinterest.com/pin/create/button/?description=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3Fpage%3Dwith%3Aimg-1%23img-1&amp;media=https%3A%2F%2Fmedia.guim.co.uk%2F862021349628520afa71990750eca264efbc582f%2F0_0_4500_2699%2F4500.jpg" target="_blank" data-link-name="social pinterest"> <span class="inline-share-pinterest inline-icon "> 
    <svg viewBox="0 0 32 32" class="inline-share-pinterest__svg inline-icon__svg"> 
     <path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"></path> 
    </svg> </span> <span class="u-h">Pinterest</span> </a> 
 </div> 
 <figcaption class="caption caption--img caption caption--img" itemprop="description"> 
  <span class="inline-information inline-icon reveal-caption-icon centered-icon rounded-icon"> 
   <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg rounded-icon__svg inline-information__svg inline-icon__svg"> 
    <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path> 
   </svg> </span> François Fillon. Photograph: Michel Euler/AP 
 </figcaption> 
</figure> 
<h2>Europe</h2> 
<p>Reform the Schengen travel accords to tighten control of the EU’s external borders. Stronger EU cooperation on defence. A political leadership of the eurozone by heads of state and government, with regular summits of eurozone leaders. A stridently positive policy towards Russia. Fillon said before winning his party’s primary race that Moscow was no threat and should be a partner in Syria and that European sanctions should be lifted.</p> 
<h2>Immigration</h2> 
<p>Annual quotas set by parliament to keep immigration to a strict minimum. Limit the ability of foreigners to join family members in <a href="/world/france" data-link-name="auto-linked-tag" data-component="auto-linked-tag" class="u-underline">France</a>. Limit the ability of foreigners to gain French nationality. Renegotiate the Le Touquet accords, the –deal with Britain that keeps border checks, and thousands of refugees and migrants – on the French side of the Channel at Calais. Speed up asylum applications.</p> 
<h2>Crime and security</h2> 
<p>Set age of criminal responsibility at 16. Create 16,000 new prison places. Hire 5,000 more police and redeploy another 5,000. Bring intelligence services under one umbrella. Withdraw French nationality from jihadis and prevent them from returning to France. Expel convicted foreign criminals. Set defence spending at 2% of GDP.<br></p> 
<h2>Environment</h2> 
<p>Scale up nuclear energy sites and close coal-fired power stations. Amend the environmental charter added to the French constitution by Jacques Chirac in 2005 that states that if an action is deemed to pose a serious and irreversible threat to the environment, the state can intervene to stop it. Fillon argues that scrapping the clause will allow more innovation on environmental issues. He has also said it is “criminal” for France to ban research on shale gas. </p> 
<figure class="element element-interactive interactive element--showcase" data-interactive="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-canonical-url="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-alt="Benoit Hamon">


       <div class="gv-card-wrapper" id="card-BenoitHamon">
            <a name="anchor-BenoitHamon"></a>

            <div class="gv-card-col-main">

            <div class="gv-card-item gv-card-head">
                
                <div class="gv-profile-pic gv-BenoitHamon"></div>  
                <div class="gv-card-head-div">
                    <h3 class="gv-header">Benoît Hamon</h3>
                <h3 class="gv-header-sub neutral-3">Socialist party</h3>
                <p class="gv-header-copy" id="shortCopy">Leftwing rebel who quit François Hollande's government, then beat the former prime minister Manuel Valls to the Socialist party nomination. His platform breaks with Hollande's pro-market, centre-left policies.</p>
                
                </div>      
            </div>  


            </div>  

    </div>



</figure> 
<h2>Labour and welfare</h2> 
<p>Universal basic income, initially for low-paid workers and students, then extended to all. Tax on robots to pay for retraining and to underwrite the cost of jobs they replace. Priority for products “made in France”. Fifty per cent of government contracts reserved for small- and medium-sized businesses. Raise the minimum wage. Officially recognise “burnout” at work as an illness and take steps to prevent it. Roll back François Hollande’s loosening of labour laws.</p> 
<h2>The state, finances, society</h2> 
<p>Five-year investment plan worth €100bn for urban and environmental renovation. A tax on banks’ “super-profits”. Build 150,000 social housing units a year. Create 40,000 teaching jobs in five years. New citizens’ rights to challenge parliament and push referendums on laws. Hold a referendum on giving foreigners the right to vote in local elections. </p> 
<p>Begin talks on overhauling French institutions to create a “sixth republic”, introducing proportional representation and a single seven-year presidential term. Bring in an anti-monopoly law on the media. Lift the ban on medically assisted procreation such as IVF and the use of sperm donors for single women and same-sex women couples. Legalise cannabis. Legalise assisted suicide.</p> 
<figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="element element-image img--landscape  fig--narrow-caption fig--has-shares " data-media-id="2c2a5352b32a0c67708e57a0f6b415e6408a4f48" id="img-2"> 
 <meta itemprop="url" content="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/3000.jpg?w=700&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=7c819e0f8ba5613cb6e467671b215a67"> 
 <meta itemprop="width" content="3000"> 
 <meta itemprop="height" content="1800"> 
 <a href="#img-2" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax=""> 
  <div class="u-responsive-ratio" style="padding-bottom: 60.00%"> 
   <picture> 
    <!--[if IE 9]><video style="display: none;"><![endif]--> 
    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=620&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=405b2e8b553cfb52ee401b828dd90b45 1240w"> 
    <source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=620&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=44cb243f4c8f6d320f6ab3c759632e0f 620w"> 
    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=605&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=5244a0404432960b120a1331cd60ad48 1210w"> 
    <source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=605&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=cc28bebd49f45a953c8ba87e30010f9e 605w"> 
    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=445&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=98d75a3464a9c9099a2bfb563fbd7c67 890w"> 
    <source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=445&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=176c15e834c5e5384102b114f22e5cca 445w"> 
    <!--[if IE 9]></video><![endif]--> 
    <img class="gu-image" itemprop="contentUrl" alt="Benoit Hamon" src="https://i.guim.co.uk/img/media/2c2a5352b32a0c67708e57a0f6b415e6408a4f48/0_124_3000_1800/master/3000.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=f97f4c3f32d870022f5ed0cc4f537f6f"> 
   </picture> 
  </div> <span class="inline-expand-image inline-icon centered-icon rounded-icon article__fullscreen modern-visible"> 
   <svg width="22" height="22" viewBox="0 0 22 22" class="centered-icon__svg rounded-icon__svg article__fullscreen__svg modern-visible__svg inline-expand-image__svg inline-icon__svg"> 
    <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6"></path> 
   </svg> </span> </a> 
 <div class="block-share block-share--article  hide-on-mobile " data-link-name="block share"> 
  <a class="rounded-icon block-share__item block-share__item--facebook js-blockshare-link" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_fb%26page%3Dwith%3Aimg-2%23img-2&amp;picture=https%3A%2F%2Fmedia.guim.co.uk%2F2c2a5352b32a0c67708e57a0f6b415e6408a4f48%2F0_124_3000_1800%2F3000.jpg" target="_blank" data-link-name="social facebook"> <span class="inline-share-facebook inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-facebook__svg inline-icon__svg"> 
     <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path> 
    </svg> </span> <span class="u-h">Facebook</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--twitter js-blockshare-link" href="https://twitter.com/intent/tweet?text=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_tw%26page%3Dwith%3Aimg-2%23img-2" target="_blank" data-link-name="social twitter"> <span class="inline-share-twitter inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-twitter__svg inline-icon__svg"> 
     <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path> 
    </svg> </span> <span class="u-h">Twitter</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--pinterest js-blockshare-link" href="http://www.pinterest.com/pin/create/button/?description=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3Fpage%3Dwith%3Aimg-2%23img-2&amp;media=https%3A%2F%2Fmedia.guim.co.uk%2F2c2a5352b32a0c67708e57a0f6b415e6408a4f48%2F0_124_3000_1800%2F3000.jpg" target="_blank" data-link-name="social pinterest"> <span class="inline-share-pinterest inline-icon "> 
    <svg viewBox="0 0 32 32" class="inline-share-pinterest__svg inline-icon__svg"> 
     <path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"></path> 
    </svg> </span> <span class="u-h">Pinterest</span> </a> 
 </div> 
 <figcaption class="caption caption--img caption caption--img" itemprop="description"> 
  <span class="inline-information inline-icon reveal-caption-icon centered-icon rounded-icon"> 
   <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg rounded-icon__svg inline-information__svg inline-icon__svg"> 
    <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path> 
   </svg> </span> Benoît Hamon. Photograph: Gonzalo Fuentes/Reuters 
 </figcaption> 
</figure> 
<h2>Europe</h2> 
<p>Switch emphasis from free market to greater social protection. Create a eurozone assembly with powers to control decisions made by heads of state and to fix a budget and harmonise tax. Create a joint European energy and environmental strategy. More defence cooperation.</p> 
<h2>Immigration</h2> 
<p>Speed up asylum application process. Set up a new “humanitarian visa” system for refugees. Renegotiate the EU’s Dublin regulations under which asylum seekers have to remain in the first EU country they enter.</p> 
<h2>Crime and security</h2> 
<p>Bring back community policing. Create 9,000 more police and gendarme jobs. Monitor stop-and-search operations by making police write reports and receipts each time they stop someone. Improve coordination of intelligence services. Raise defence spending to 2% of GDP.</p> 
<h2>Environment</h2> 
<p>Fifty per cent of electricity from renewable sources by 2015, and 100% by 2050. Phase out diesel. No new diesel cars after 2025. Phase out nuclear power over 25 years. Ban the use of hormone-disrupting chemicals. Push for alternatives to pesticide.</p> 
<figure class="element element-interactive interactive element--showcase" data-interactive="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-canonical-url="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-alt="Marine Le Pen">


       <div class="gv-card-wrapper" id="card-MarineLePen">
            <a name="anchor-MarineLePen"></a>

            <div class="gv-card-col-main">

            <div class="gv-card-item gv-card-head">
                
                <div class="gv-profile-pic gv-MarineLePen"></div>  
                <div class="gv-card-head-div">
                    <h3 class="gv-header">Marine Le Pen</h3>
                <h3 class="gv-header-sub neutral-3">Front National</h3>
                <p class="gv-header-copy" id="shortCopy">The French far-right leader whose hard line on immigration, security and warnings of the threat from Islamic fundamentalism have seen her party make steady gains at each election in the past six years.</p>
                
                </div>      
            </div>  


            </div>  

    </div>



</figure> 
<h2>Labour and welfare </h2> 
<p>Give priority to French workers. Make employers who hire foreigners, including EU citizens, pay an extra tax of 10% of the employee’s salary. Lower the retirement age from 62 to 60. Reduce income for the lowest earners. Impose an import tax on products made by French firms abroad. Keep the 35-hour week as a base, but allow different professions to negotiate different working hours.</p> 
<h2>The state, finances, society</h2> 
<p>A commitment to give “national priority” to French people over non-nationals in jobs, housing and welfare to be written into the constitution after a referendum. Ban the wearing of all visible religious symbols in all public spaces. </p> 
<p>Scrap several tiers of local administration, including the regions. Introduce proportional representation for all elections. Reduce the number of MPs and senators. Fly French flags outside all public buildings and take down EU flags. Cut the price of gas and electricity immediately by 5%. Reintroduce school uniform.</p> 
<figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="element element-image img--landscape  fig--narrow-caption fig--has-shares " data-media-id="94023b4ac0539669544623fedfdf78e4abf32186" id="img-3"> 
 <meta itemprop="url" content="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/3200.jpg?w=700&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=a2cc27ba99bdc32e6d0fc78123d270fa"> 
 <meta itemprop="width" content="3200"> 
 <meta itemprop="height" content="1920"> 
 <a href="#img-3" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax=""> 
  <div class="u-responsive-ratio" style="padding-bottom: 60.00%"> 
   <picture> 
    <!--[if IE 9]><video style="display: none;"><![endif]--> 
    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=620&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=93241fc50817116ced58170f26cac18d 1240w"> 
    <source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=620&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=0d50d0a076f95b37317389d77529c9b6 620w"> 
    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=605&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=dcf64e7c3016bda312fe2c0e6b57bbf8 1210w"> 
    <source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=605&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=5d2c45544dd4c161ebee4b216e139058 605w"> 
    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=445&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=aebafe7ef82db61ede7e6a871c0d7a7a 890w"> 
    <source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=445&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=5e3669cdf67ac29f3f3491c92db2854c 445w"> 
    <!--[if IE 9]></video><![endif]--> 
    <img class="gu-image" itemprop="contentUrl" alt="Marine Le Pen" src="https://i.guim.co.uk/img/media/94023b4ac0539669544623fedfdf78e4abf32186/0_128_3200_1920/master/3200.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=fa92a18570188bbb805d23d57230213c"> 
   </picture> 
  </div> <span class="inline-expand-image inline-icon centered-icon rounded-icon article__fullscreen modern-visible"> 
   <svg width="22" height="22" viewBox="0 0 22 22" class="centered-icon__svg rounded-icon__svg article__fullscreen__svg modern-visible__svg inline-expand-image__svg inline-icon__svg"> 
    <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6"></path> 
   </svg> </span> </a> 
 <div class="block-share block-share--article  hide-on-mobile " data-link-name="block share"> 
  <a class="rounded-icon block-share__item block-share__item--facebook js-blockshare-link" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_fb%26page%3Dwith%3Aimg-3%23img-3&amp;picture=https%3A%2F%2Fmedia.guim.co.uk%2F94023b4ac0539669544623fedfdf78e4abf32186%2F0_128_3200_1920%2F3200.jpg" target="_blank" data-link-name="social facebook"> <span class="inline-share-facebook inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-facebook__svg inline-icon__svg"> 
     <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path> 
    </svg> </span> <span class="u-h">Facebook</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--twitter js-blockshare-link" href="https://twitter.com/intent/tweet?text=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_tw%26page%3Dwith%3Aimg-3%23img-3" target="_blank" data-link-name="social twitter"> <span class="inline-share-twitter inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-twitter__svg inline-icon__svg"> 
     <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path> 
    </svg> </span> <span class="u-h">Twitter</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--pinterest js-blockshare-link" href="http://www.pinterest.com/pin/create/button/?description=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3Fpage%3Dwith%3Aimg-3%23img-3&amp;media=https%3A%2F%2Fmedia.guim.co.uk%2F94023b4ac0539669544623fedfdf78e4abf32186%2F0_128_3200_1920%2F3200.jpg" target="_blank" data-link-name="social pinterest"> <span class="inline-share-pinterest inline-icon "> 
    <svg viewBox="0 0 32 32" class="inline-share-pinterest__svg inline-icon__svg"> 
     <path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"></path> 
    </svg> </span> <span class="u-h">Pinterest</span> </a> 
 </div> 
 <figcaption class="caption caption--img caption caption--img" itemprop="description"> 
  <span class="inline-information inline-icon reveal-caption-icon centered-icon rounded-icon"> 
   <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg rounded-icon__svg inline-information__svg inline-icon__svg"> 
    <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path> 
   </svg> </span> Marine Le Pen. Photograph: Guillaume Souvant/AFP/Getty Images 
 </figcaption> 
</figure> 
<h2>Europe</h2> 
<p>Launch negotiations with the EU for France to regain border control, economic and monetary sovereignty and authority over laws. Hold an in-out referendum on EU membership within six months of taking power. Leave Schengen and the euro.</p> 
<h2>Immigration</h2> 
<p>Reduce legal immigration to 10,000 people a year. Scrap French nationality rights for children born to two foreign parents in France. Stop regularising illegal immigrants. Make foreigners’ children wait two years before they can access free state education. Scrap state medical help for illegal immigrants.</p> 
<h2>Security and defence <br></h2> 
<p>Hire an extra 15,000 police and gendarmes. Create 40,000 more prison places. Withdraw French nationality rights from jihadis who have fought abroad. Expel foreigners whose names are on intelligence lists for suspected radicalisation. Raise defence spending to 3% of GDP. Introduce compulsory military service for at least three months. Pull France out of the Nato command structure.</p> 
<h2>Environment</h2> 
<p>Promote nuclear power. Reduce consumption of fossil fuels. Maintain the ban on fracking for shale gas. Promote hydrogen cars, and agriculture on a “human” rather than industrial scale.</p> 
<figure class="element element-interactive interactive element--showcase" data-interactive="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-canonical-url="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-alt="Emmanuel Macron">


       <div class="gv-card-wrapper" id="card-EmmanuelMacron">
            <a name="anchor-EmmanuelMacron"></a>

            <div class="gv-card-col-main">

            <div class="gv-card-item gv-card-head">
                
                <div class="gv-profile-pic gv-EmmanuelMacron"></div>  
                <div class="gv-card-head-div">
                    <h3 class="gv-header">Emmanuel Macron</h3>
                <h3 class="gv-header-sub neutral-3">En Marche!</h3>
                <p class="gv-header-copy" id="shortCopy">The 39-year-old, former investment banker and economy minister under Hollande is standing as a centrist independent in his first election. Economically liberal but leftwing on social issues.</p>
                
                </div>      
            </div>  


            </div>  

    </div>



</figure> 
<h2>Labour and welfare</h2> 
<p>More flexibility on labour laws and a loosening of the 35-hour week. Lower taxes on businesses, and a permanent reduction of companies’ social charges. Reform the unemployment system to extend it to more people, including the self-employed, but with more control to ensure job seekers accept offers and retrain. Keep the retirement age at 62, but smooth over differences between state and private pensions. Increase social mobility by giving companies who hire people from 200 designated poor neighbourhoods a €15,000 bonus over three years.</p> 
<h2>The state, finances and society</h2> 
<p>A public investment plan of €50bn over five years. Cut €60bn in public spending through changes to the public sector workforce and cuts to local administration. Scrap 120,000 public sector jobs by 2022. Scrap housing tax for 80% of households. Adapt the wealth tax by focusing it on property. Tax global internet giants on the profits they make in France. </p> 
<p>Cut the number of MPs in parliament. Ban MPs and senators from employing family members or working as consultants while in office. Lift the ban on medically assisted procreation such as IVF and the use of sperm donors for single women and same-sex women couples. A €500 “culture pass” for all 18-year-olds with which they can buy books or go to culture events.</p> 
<figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="element element-image img--landscape  fig--narrow-caption fig--has-shares " data-media-id="7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5" id="img-4"> 
 <meta itemprop="url" content="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/2965.jpg?w=700&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=1e2c0276b484daa993e92dabc4f439fd"> 
 <meta itemprop="width" content="2965"> 
 <meta itemprop="height" content="1779"> 
 <a href="#img-4" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax=""> 
  <div class="u-responsive-ratio" style="padding-bottom: 60.00%"> 
   <picture> 
    <!--[if IE 9]><video style="display: none;"><![endif]--> 
    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=620&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=fbd9cc9d0a44041e0824943b7fd3fcbf 1240w"> 
    <source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=620&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=c5925bc88c2934188be09dd19acb391c 620w"> 
    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=605&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=b8ead3cd1eb9f1642d14c316616142e7 1210w"> 
    <source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=605&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=f128d5630ecc3e231001a62a39de7388 605w"> 
    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=445&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=9a86716b5ca3bc4c53e342356d060594 890w"> 
    <source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=445&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=d68e9a8968e2d09ffb1b33e2426e203a 445w"> 
    <!--[if IE 9]></video><![endif]--> 
    <img class="gu-image" itemprop="contentUrl" alt="Emmanuel Macron" src="https://i.guim.co.uk/img/media/7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5/712_357_2965_1779/master/2965.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=e563ca5b5a8576b368d3188a739298e9"> 
   </picture> 
  </div> <span class="inline-expand-image inline-icon centered-icon rounded-icon article__fullscreen modern-visible"> 
   <svg width="22" height="22" viewBox="0 0 22 22" class="centered-icon__svg rounded-icon__svg article__fullscreen__svg modern-visible__svg inline-expand-image__svg inline-icon__svg"> 
    <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6"></path> 
   </svg> </span> </a> 
 <div class="block-share block-share--article  hide-on-mobile " data-link-name="block share"> 
  <a class="rounded-icon block-share__item block-share__item--facebook js-blockshare-link" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_fb%26page%3Dwith%3Aimg-4%23img-4&amp;picture=https%3A%2F%2Fmedia.guim.co.uk%2F7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5%2F712_357_2965_1779%2F2965.jpg" target="_blank" data-link-name="social facebook"> <span class="inline-share-facebook inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-facebook__svg inline-icon__svg"> 
     <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path> 
    </svg> </span> <span class="u-h">Facebook</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--twitter js-blockshare-link" href="https://twitter.com/intent/tweet?text=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_tw%26page%3Dwith%3Aimg-4%23img-4" target="_blank" data-link-name="social twitter"> <span class="inline-share-twitter inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-twitter__svg inline-icon__svg"> 
     <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path> 
    </svg> </span> <span class="u-h">Twitter</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--pinterest js-blockshare-link" href="http://www.pinterest.com/pin/create/button/?description=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3Fpage%3Dwith%3Aimg-4%23img-4&amp;media=https%3A%2F%2Fmedia.guim.co.uk%2F7b15a25e59a9dfcdfd035117e1f6aea9106cb5c5%2F712_357_2965_1779%2F2965.jpg" target="_blank" data-link-name="social pinterest"> <span class="inline-share-pinterest inline-icon "> 
    <svg viewBox="0 0 32 32" class="inline-share-pinterest__svg inline-icon__svg"> 
     <path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"></path> 
    </svg> </span> <span class="u-h">Pinterest</span> </a> 
 </div> 
 <figcaption class="caption caption--img caption caption--img" itemprop="description"> 
  <span class="inline-information inline-icon reveal-caption-icon centered-icon rounded-icon"> 
   <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg rounded-icon__svg inline-information__svg inline-icon__svg"> 
    <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path> 
   </svg> </span> Emmanuel Macron. Photograph: Bertrand Guay/AFP/Getty Images 
 </figcaption> 
</figure> 
<h2>Europe</h2> 
<p>Maintain the Schengen travel area. Boost the EU’s external border controls by creating 5,000 more border guards. Establish a eurozone budget, parliament and economy and finance minister. Create a European security council. Hold citizen “conventions” across <a href="/world/europe-news" data-link-name="auto-linked-tag" data-component="auto-linked-tag" class="u-underline">Europe</a> to discuss the EU’s future and the importance of the European project.</p> 
<h2>Immigration</h2> 
<p>Deal with asylum applications in six months or less. Oblige those applying for French nationality to speak good French.</p> 
<h2>Security and defence</h2> 
<p>Restore compulsory military service for a month for all young men and women. Bring defence spending to 2% of GDP. Modernise France’s nuclear arsenal. Create 10,000 more police and gendarmes and improve community policing. Create 15,000 new prison places.</p> 
<h2>Environment</h2> 
<p>Insulate 1m homes in five years. Limit advantages to the diesel industry. Give a payment of €1,000 for the purchase of a new or second-hand vehicle that pollutes less. Progressively reduce nuclear energy production. Introduce a single European energy market. Fight the use of hormone-disrupting chemicals and pesticides.</p> 
<figure class="element element-interactive interactive element--showcase" data-interactive="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-canonical-url="https://interactive.guim.co.uk/2017/03/french-elex-card-embed-single/boot.js" data-alt="Jean-Luc Melenchon">


       <div class="gv-card-wrapper" id="card-Jean-LucMelenchon">
            <a name="anchor-Jean-LucMelenchon"></a>

            <div class="gv-card-col-main">

            <div class="gv-card-item gv-card-head">
                
                <div class="gv-profile-pic gv-Jean-LucMelenchon"></div>  
                <div class="gv-card-head-div">
                    <h3 class="gv-header">Jean-Luc Mélenchon</h3>
                <h3 class="gv-header-sub neutral-3">La France Insoumise</h3>
                <p class="gv-header-copy" id="shortCopy">The firebrand orator is the furthest left of the five leading candidates. He is contesting his second presidential election after taking 11% of the vote in 2012. He has refused to join ranks with Hamon to unite the left.</p>
                
                </div>      
            </div>  


            </div>  

    </div>



</figure> 
<h2>Labour and welfare</h2> 
<p>Raise the minimum wage and civil servants’ salaries. Lower the retirement age to 60 from 62. Scrap Hollande’s labour law changes. Roll back new rules on Sunday working. Give workers an extra week of holiday a year. Hold a consultation on shortening the 35-hour working week to 32 hours. Limit fat-cat pay by fixing maximum salaries in companies. Scrap stock options.</p> 
<h2>The state, finances and society</h2> 
<p>Separate retail from investment banking. All French nationals to pay a universal tax, including if they live abroad. Hold a referendum to begin the process of writing a new constitution for a sixth republic. Introduce proportional representation for parliament elections. Lower the voting age to 16. Make voting compulsory. Give foreigners the right to vote in local elections. </p> 
<p>Zero homelessness by the end of the presidency. Full reimbursement by the state of all prescribed healthcare costs. Legalise cannabis. Lift the ban on medically assisted procreation such as IVF and the use of sperm donors for single women and same-sex women couples. Hire at least 60,000 teachers.</p> 
<figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="element element-image img--landscape  fig--narrow-caption fig--has-shares " data-media-id="08d2ef89c3eb8d0710439b395bf1d24a0837b2ea" id="img-5"> 
 <meta itemprop="url" content="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/5184.jpg?w=700&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=7626ee23bdfc354f03e4bfe708a68e4e"> 
 <meta itemprop="width" content="5184"> 
 <meta itemprop="height" content="3110"> 
 <a href="#img-5" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax=""> 
  <div class="u-responsive-ratio" style="padding-bottom: 59.99%"> 
   <picture> 
    <!--[if IE 9]><video style="display: none;"><![endif]--> 
    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)" sizes="620px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=620&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=5081ecc8f4462e82f2fc1a2e73307f20 1240w"> 
    <source media="(min-width: 660px)" sizes="620px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=620&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=afe5fb15c8b57996e89b62c8c8fc1103 620w"> 
    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)" sizes="605px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=605&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=9273fc9eb643d81f4753cb044dc6888a 1210w"> 
    <source media="(min-width: 480px)" sizes="605px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=605&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=90247b9105aff0a9854b92ed2b199dab 605w"> 
    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="445px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=445&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=0c888435ae66df862063163afaea83c4 890w"> 
    <source media="(min-width: 0px)" sizes="445px" srcset="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=445&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=4759ea7c8e75bbe10d0f197d78f6ac68 445w"> 
    <!--[if IE 9]></video><![endif]--> 
    <img class="gu-image" itemprop="contentUrl" alt="Jean-Luc Melenchon" src="https://i.guim.co.uk/img/media/08d2ef89c3eb8d0710439b395bf1d24a0837b2ea/0_227_5184_3110/master/5184.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=b8fccf8c4124e281f2c7071a505f5a16"> 
   </picture> 
  </div> <span class="inline-expand-image inline-icon centered-icon rounded-icon article__fullscreen modern-visible"> 
   <svg width="22" height="22" viewBox="0 0 22 22" class="centered-icon__svg rounded-icon__svg article__fullscreen__svg modern-visible__svg inline-expand-image__svg inline-icon__svg"> 
    <path d="M3.4 20.2L9 14.5 7.5 13l-5.7 5.6L1 14H0v7.5l.5.5H8v-1l-4.6-.8M18.7 1.9L13 7.6 14.4 9l5.7-5.7.5 4.7h1.2V.6l-.5-.5H14v1.2l4.7.6"></path> 
   </svg> </span> </a> 
 <div class="block-share block-share--article  hide-on-mobile " data-link-name="block share"> 
  <a class="rounded-icon block-share__item block-share__item--facebook js-blockshare-link" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_fb%26page%3Dwith%3Aimg-5%23img-5&amp;picture=https%3A%2F%2Fmedia.guim.co.uk%2F08d2ef89c3eb8d0710439b395bf1d24a0837b2ea%2F0_227_5184_3110%2F5184.jpg" target="_blank" data-link-name="social facebook"> <span class="inline-share-facebook inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-facebook__svg inline-icon__svg"> 
     <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path> 
    </svg> </span> <span class="u-h">Facebook</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--twitter js-blockshare-link" href="https://twitter.com/intent/tweet?text=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3FCMP%3Dshare_btn_tw%26page%3Dwith%3Aimg-5%23img-5" target="_blank" data-link-name="social twitter"> <span class="inline-share-twitter inline-icon "> 
    <svg width="32" height="32" viewBox="-2 -2 32 32" class="inline-share-twitter__svg inline-icon__svg"> 
     <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path> 
    </svg> </span> <span class="u-h">Twitter</span> </a> 
  <a class="rounded-icon block-share__item block-share__item--pinterest js-blockshare-link" href="http://www.pinterest.com/pin/create/button/?description=French%20presidential%20election%3A%20how%20the%20candidates%20compare&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2017%2Fmar%2F22%2Ffrench-presidential-election-how-the-candidates-compare%3Fpage%3Dwith%3Aimg-5%23img-5&amp;media=https%3A%2F%2Fmedia.guim.co.uk%2F08d2ef89c3eb8d0710439b395bf1d24a0837b2ea%2F0_227_5184_3110%2F5184.jpg" target="_blank" data-link-name="social pinterest"> <span class="inline-share-pinterest inline-icon "> 
    <svg viewBox="0 0 32 32" class="inline-share-pinterest__svg inline-icon__svg"> 
     <path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"></path> 
    </svg> </span> <span class="u-h">Pinterest</span> </a> 
 </div> 
 <figcaption class="caption caption--img caption caption--img" itemprop="description"> 
  <span class="inline-information inline-icon reveal-caption-icon centered-icon rounded-icon"> 
   <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg rounded-icon__svg inline-information__svg inline-icon__svg"> 
    <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path> 
   </svg> </span> Jean-Luc Mélenchon. Photograph: Jean-Francois Badias/AP 
 </figcaption> 
</figure> 
<h2>Europe</h2> 
<p>Renegotiate the EU treaties. Put the new agreed treaties to a referendum. If the treaty renegotiation fails, consider leaving the EU. Devalue the euroIntroduce a moratorium on debt repayments.</p> 
<h2>Immigration</h2> 
<p>Regularise illegal workers. Create a new agency to deal with migration alongside the UN Refugee Agency. Increase civil rescue services to stop migrants drowning in the Mediterranean. Build shelters to house asylum seekers to prevent rough-sleeping, along the lines of the centre at Grande-Synthe near Dunkirk.</p> 
<h2>Crime and security</h2> 
<p>Bring back community policing. Introduce compulsory receipts for police stop-and-search operations in order to ban the arbitrary targeting of black people and other ethnic minorities. Hire 10,000 police. Allow parliament to vote on ending the state of emergency. Leave Nato.</p> 
<h2>Environment</h2> 
<p>Add a new green clause to the constitution that France should not take from nature more than nature can give. Phase out nuclear and fossil-fuel energy. Produce 100% of energy from renewable sources by 2050. Renationalise state utility companies. Stop “useless” big state infrastructure projects.</p>

                            
                            
                        </div>